In [4]:
# Import modules
import pandas as pd
import json

In [5]:
pymoli_df = pd.read_json('purchase_data.json')

In [6]:
pymoli_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [62]:
# Total Number of Players
player_list = pymoli_df["SN"].unique()
player_total = len(player_list)
player_total_01 = [{"Total Number of Players": player_total}]
test = pd.DataFrame(player_total_01)
test

   Total Number of Players
0                      573

In [8]:
# Purchasing Analysis (Total)
# Number of Unique Items
unique_items = pymoli_df["Item Name"].unique()
total_unique_items = len(unique_items)

# Average Purchase Price
average = pymoli_df["Price"].mean()

# Total Number of Purchases
total_purchases = len(pymoli_df["Price"])

# Total Revenue
total_revenue = pymoli_df["Price"].sum()

analysis_df_01 = [{"Number of Unique Items": total_unique_items},{"Average Price":average},{"Number of Purchases": total_purchases},{"Total Revenue":total_revenue}]
analysis_df_01

[{'Number of Unique Items': 179},
 {'Average Price': 2.931192307692303},
 {'Number of Purchases': 780},
 {'Total Revenue': 2286.3299999999963}]

In [64]:
# Percentage and Count of Male Players use groupby
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

count = pymoli_df["Gender"].value_counts()/len(pymoli_df)*100

total_count = pymoli_df["Gender"].value_counts()

pd.concat([count, total_count], axis=1).reset_index().rename(columns={'index': 'Gender', 'Gender': 'Percent'})

                  Gender    Percent  Percent
0                   Male  81.153846      633
1                 Female  17.435897      136
2  Other / Non-Disclosed   1.410256       11

In [60]:
# Purchasing Analysis (Gender)
# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals

gender_list = pymoli_df['Gender'].tolist()
price_list = pymoli_df['Price'].tolist()
male_price_list = []
female_price_list = []
other_price_list = []

r  = len(gender_list)

purchase_count_male = 0
male_purchase_total = 0
for x in range(0,r):
    if gender_list[x] == "Male":
        purchase_count_male = purchase_count_male + 1
        male_price_list.append(price_list[x])
        male_purchase_total = male_purchase_total + price_list[x]

purchase_count_female = 0
female_purchase_total = 0
for x in range(0,r):
    if gender_list[x] == "Female":
        purchase_count_female = purchase_count_female + 1        
        female_price_list.append(price_list[x])
        female_purchase_total = female_purchase_total + price_list[x]
        
purchase_count_other = 0
other_purchase_total = 0
for x in range(0,r):
    if gender_list[x] == "Other / Non-Disclosed":
        purchase_count_other = purchase_count_other + 1
        other_price_list.append(price_list[x])
        other_price_list.append(price_list[x])
        other_purchase_total = other_purchase_total + price_list[x]


        
avg_male = male_purchase_total / purchase_count_male *100
avg_female = female_purchase_total / purchase_count_female * 100
avg_other = other_purchase_total / purchase_count_other * 100
                                                                                                           
purchasing_analysis_gender = [{"Gender": ["Male", "Female", "Other / Non-Disclosed"]},
                             {"Purchase Count": [purchase_count_male, purchase_count_female, purchase_count_other]},
                              {"Average Purchase Price": [avg_male, avg_female, avg_other]},
                             {"Total Purchase Value": [male_purchase_total, female_purchase_total, other_purchase_total]}]
                             #{"Normalized Totals":[]}]

purchasing_analysis_gender

[{'Gender': ['Male', 'Female', 'Other / Non-Disclosed']},
 {'Purchase Count': [633, 136, 11]},
 {'Average Purchase Price': [295.05213270142156,
   281.5514705882352,
   324.9090909090909]},
 {'Total Purchase Value': [1867.6799999999985,
   382.90999999999985,
   35.739999999999995]}]

In [ ]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals
# Top Spenders

In [ ]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Most Popular Items

In [ ]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
# Most Profitable Items

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value